img{
    margin-left: 120px;
    margin-top: 20px;
    transition: 1s;
    box-shadow: 5px 5px 5px #aaaaaa;
}

img:hover{
    transform: scale(1.1);

}
h4{
    margin-left: 120px;  
}
section{
    background: url(../../assets/images/about.jpg);
    width: 100%;
}
.pic{
    display:flex;
    flex-direction: row;
}
h2{
    font-family: Source Sans Pro;
    font-size: 44px;
    margin-left: 300px;
}