<div class="container">
    <h2 class="h2">Start your Journey</h2>
<p></p>
    <p class="p"><i>The most searched places in June</i></p>

    <div class="flex-box">

        <div><img src="../../assets/images/indiagate.jpg" alt="" width="300px" height="200px"></div>
        <div><img src="../../assets/images/goldentemple.jpg" alt=""  width="300px" height="200px"></div>
        <div><img src="../../assets/images/goa.jpg" alt=""  width="300px" height="200px"></div>
        <div><img src="../../assets/images/banaras.jpg" alt=""  width="300px" height="200px"></div>
        <div><img src="../../assets/images/tajmahal.jpg" alt=""  width="300px" height="200px"></div>
        <div><img src="../../assets/images/qutubminar.jpg" alt=""  width="300px" height="200px"></div>
    
      </div>

<p></p>

      <h2 class="p1"><strong>Don't live your life unlived</strong></h2>
      <p class="p2"><em>Tales for those who follow the lead whereever it leads</em></p>

<p></p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/IgAnj6r1O48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>









</div>
