<section>

    <div class="box">
        <h1>DETAIL FORM</h1>

        <div class="Detail Form">
            <form #f="ngForm">
                <div class="form-group">
                    <label for="place">Add Place:</label>
                    <input #placeref="ngModel" [(ngModel)]="placeProp" name="place" type="text" class="form-control" placeholder="Enter place" id="place">
                </div>
                <div class="form-group">
                    <label for="state">Add State:</label>
                    <input #stateref="ngModel" [(ngModel)]="stateProp" name="state" type="text" class="form-control" placeholder="Enter state" id="state">
                </div>
                <div class="form-group">
                    <label for="name">Booking Member Name:</label>
                    <input #nameref="ngModel" [(ngModel)]="nameProp" name="name" type="text" class="form-control" placeholder="Enter name" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input #emailref="ngModel" [(ngModel)]="emailProp" name="email" type="email" class="form-control" placeholder="Enter email" id="email">
                </div>
                <div class="form-group">

                    <label for="mobile">Mobile Number:</label>
                    <input #mobileref="ngModel" [(ngModel)]="mobileProp" name="mobile" type="number" class="form-control" placeholder="Enter mobile number" id="mobile">
                </div>
                <div class="form-group">
                    <label for="email">No. Of Adults:</label>
                    <input #adultref="ngModel" [(ngModel)]="adultProp" name="adult" type="number" class="form-control" placeholder="no. of adults" id="adult">
                </div>
                <div class="form-group">
                    <label for="email">No. Of Children:</label>
                    <input #childref="ngModel" [(ngModel)]="childProp" name="child" type="number" class="form-control" placeholder="no. of children" id="child">
                </div>
                <div class="form-group">
                    <label for="date">From Date:</label>
                    <input #dateref="ngModel" [(ngModel)]="dateProp" name="date" type="date" class="form-control" placeholder="date" id="date">
                </div>
                <div class="form-group">
                    <label for="date">To Date:</label>
                    <input #daterefsu="ngModel" [(ngModel)]="datePropsu" name="datesu" type="date" class="form-control" placeholder="date" id="date">
                </div>
                <div class="form-group">
                    <label for="amount">Total Package Amount</label>
                    <input #amountref="ngModel" [(ngModel)]="amountProp" name="amount" type="text" class="form-control" placeholder="amount" id="amount">
                </div>
                <div class="form-group">
                    <label for="pwd">Description:</label>
                    <textarea #messageref="ngModel" [(ngModel)]="messageProp" name="message" type="message" class="form-control" placeholder="Description.." id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <p></p>
                <button type="submit" class="btn btn-outline-warning" (click)="add()">Submit</button>

            </form>
        </div>

        <p>Terms And Condition Apply:-</p>
    </div>
</section>