<section>

<div class="container">

    <a href="http://www.yatra.com"><img src="../../assets/images/yatra.jpg" alt=""></a>
    <p></p>
    <h4>Book Flights, Hotels, Trains, Buses, Cruise and Holiday Packages</h4>
    <p><em>On Yatra.com, you can tailor your trip from end-to-end by scouring suitable flights and making your flight booking before proceeding with your hotel bookings. Yatra’s vast hotel repository will see you through this process seamlessly. Any intervening journey can be conveniently planned by searching up relevant train connectivity and making an IRCTC ticket booking. Look up well-researched holiday packages, sift through cruise packages and finalise your entire trip on just one platform.</em></p>
<p></p>

<div class="pic">

  <a href="http://www.makemytrip.com"><img src="../../assets/images/makemytrip.jpg" height="350px" alt=""> </a>
  <a href="http://www.makemytrip.com"> <img src="../../assets/images/mmt1.png" alt=""></a>
</div>

</div>


</section>

