h2 {
    font-family: Source Sans Pro;
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin-left: 160px;
}

section {
    padding: 0 100px;
    background: url(../../assets/images/about2.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
    font-size: 17px;
}

.box {
    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}