 .item {
     width: 100%;
     height: 300%;
     box-shadow: 3px 4px 4px gray;
     margin-top: 40px;
     padding: 15px;
     box-sizing: border-box;
     text-align: center;
 }
 
 .products {
     display: flex;
     justify-content: space-evenly;
     align-content: space-around;
     flex-wrap: wrap;
     padding: 50px;
     box-sizing: border-box;
 }
 
 section {
     padding: 0 100px;
     background: url(../../assets/images/form.jpg);
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .flexbox{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  }
  .flexbox div{
   padding: 10px;
   margin: 10px;
   justify-content: flex-start;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }

  img{
    transition: 1s;
    margin-left: 350px;
  }

  img:hover{
    transform: scale(1.1);
  }
  
  h4{
      font-family: Source Sans Pro;
      font-size: 33px;
      font-weight: bold;
      margin-left: 420px;
  }
  p{
      font-size: 16px;
  }
 
