<!-- <div class="products"> -->


<div class="container">

<div class="flexbox" *ngFor="let p of filteredformdata">

   

    <div ><li type="button" >
        <h4>{{p.placeName}}</h4>
        <p></p>
        <img src="http://localhost:3000/{{p._id}}_banner_NaN.jpg" alt=""  width="375px" height="275px" class="img-responsive floating-image right">
    
        <p></p>
        <p><em> {{p.desc}} </em></p>
    </li></div>

    
    
   

     


</div>
</div>


<!-- <div class="item" *ngFor="let p of filteredformdata">
   
    <img src="http://localhost:3000/{{p._id}}_banner_NaN.jpg" alt="">
   
    <p>PLACES: <br>{{p.placeName}} </p>
    <p>CITY: {{p.cityName}}</p>
    <p>HOTELS: {{p.stateName}}</p>
    <p>TOTAL TOUR PACKAGE AMOUNT: {{p.desc}}</p>
    <p>{{p.uploads}}</p>
    <button routerLink="/dashboard">ok</button>
</div>

<div class="item" *ngFor="let p of filteredpackages">
    

    <p>PLACES: <br>{{p.packageName}} </p>
    <p>CITY: {{p.cityName}}</p>
    <p>HOTELS: {{p.nights}}</p>
    <p>TOTAL TOUR PACKAGE AMOUNT: {{p.hotelsu}}</p>
    <p>{{p.uploads}}</p>
    <button routerLink="/dashboard">ok</button>
</div> -->


<!-- <app-search class="item" *ngFor="let p of filteredPlaces"></app-search> -->

<!-- </div> -->


<!-- <div class="card text-center" id="section">
    <div class="card-header" *ngFor="let p of filteredformdata">
        <h2>{{p.cityNmae}}</h2>
    </div>

</div>
<div class="card text-center">
     <div class="card-header">
        <h2>PLACES</h2>
    </div> 
    <div class="card-body">
        <h5 class="card-title">PLACES DEFINE YOU HAVE BEEN SEEN THERE</h5>
        <p class="card-text" *ngFor="let p of filteredformdata">{{p.placeName}}</p>


    </div>
    <div class="card-body">
        <h5 class="card-title">HOTELS AND RESORTS</h5>
        <p class="card-text" *ngFor="let p of filteredformdata">{{p.stateName}}</p>


    </div>
    <div class="card-body">
        <h5 class="card-title">TOTAL AMOUNT OF TOUR PACKAGE WITH FULL FACILITIES</h5>
        <p class="card-text" *ngFor="let p of filteredformdata">{{p.desc}}</p>


    </div>
</div> -->

<h5>IF YOU LIKE THIS PACKAGE PRESS OK</h5>
<P>GO TO BOOK NOW</P>
<button routerLink="/dashboard" type="button" class="btn btn-warning">OK</button>