<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="CallcloseNav()">&times;</a>
    <a href="#">View Package Details</a>
    <a href="#">Your Booking Details</a>
    <!-- <a routerlink="form" href="#">Book NOW</a> -->

    <a routerLink="/form">Book NOW</a>

    <a (click)="logout()">LogOut</a>

</div>

<div id="main">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input type="text" class="search_input" [(ngModel)]="ct" name="ct" placeholder="Search...">
                <button class="search_icon"><i class="fas fa-search" click="fetchPlaces()"></i></button>
                <div *ngFor="let p of filteredPlaces">
                    {{p|json}}
                </div>
            </div>
        </div>
    </div>
    <span style="font-size:30px;cursor:pointer" (click)="CallopenNav()">&#9776; </span>
</div>