
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="container">

            <div id="demo" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/images/hima1.jpg" alt="Los Angeles" width="450" height="250">
                   
                </div>
                <div class="carousel-item">
                  <img src="../../assets/images/hima3.jpg" alt="Chicago" width="450" height="250">
                 
                </div>
                <div class="carousel-item">
                  <img src="../../assets/images/hima4.jpg" alt="New York" width="450" height="250">
                   
                </div>
                <div class="carousel-item">
                  <img src="../../assets/images/hima5.jpg" alt="New York" width="450" height="250">
                  
                </div>
                <div class="carousel-item">
                  <img src="../../assets/images/hima6.jpg" alt="New York" width="450" height="250">
                   
                </div>
                <div class="carousel-item">
                  <img src="../../assets/images/hima7.jpg" alt="New York" width="450" height="250">
               
                </div>
        

              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>

          <p></p>

          <table>
            <tr>
              <th><b>Trekking Package</b></th>
              <th><b>Price*</b></th>
              <th><b>Nights</b></th>
            </tr>
            <tr>
              <td>Kedarkantha Trek</td>
              <td>Rs 6,999</td>
              <td>5 Nights</td>
            </tr>
            <tr>
              <td>Everest Base Camp Trek, Nepal</td>
              <td>	Rs 42,500</td>
              <td>14 Nights</td>
            </tr>
            <tr>
              <td>Goechala Trek, Sikkim</td>
              <td>Rs 15,200</td>
              <td>9 Nights</td>
            </tr>
        
          </table>
          
          
    
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>