<div class="container">
  
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <h2>Qutub Minar</h2>
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="../../assets/images/qutub2.jpg" width="430px" height="300px" alt="">
          <p></p>
          
        <p><em>Qutab Minar is a soaring, 73 m-high tower of victory, built in 1193 by Qutab-ud-din Aibak immediately after the defeat of Delhi's last Hindu kingdom. The tower has five distinct storeys, each marked by a projecting balcony and tapers from a 15 m diameter at the base to just 2.5 m at the top. The first three storeys are made of red sandstone; the fourth and fifth storeys are of marble and sandstone. At the foot of the tower is the Quwwat-ul-Islam Mosque, the first mosque to be built in India. An inscription over its eastern gate provocatively informs that it was built with material obtained from demolishing '27 Hindu temples'. A 7 m-high iron pillar stands in the courtyard of the mosque. It is said that if you can encircle it with your hands while standing with your back to it your wish will be fulfilled.

          The origins of Qutab Minar are shrouded in controversy. Some believe it was erected as a tower of victory to signify the beginning of the Muslim rule in India. Others say it served as a minaret to the muezzins to call the faithful to prayer.
          No one can, however, dispute that the tower is not only one of the finest monuments in India, but also in the world. Qutab-ud-din Aibak, the first Muslim ruler of Delhi, commenced the construction of the Qutab Minar in 1200 AD, but could only finish the basement. His successor, Iltutmush, added three more storeys, and in 1368, Firoz Shah Tughlak constructed the fifth and the last storey.
          The development of architectural styles from Aibak to Tughlak is quite evident in the minar. The relief work and even the materials used for construction differ. The 238 feet Qutab Minar is 47 feet at the base and tapers to nine feet at the apex. The tower is ornamented by bands of inscriptions and by four projecting balconies supported by elaborately decorated brackets. Even though in ruins, the Quwwat Ui Islam (Light of Islam) Mosque in the Qutab complex is one of the most magnificent structures in the world. Qutab-ud-din Aibak started its construction in 1193 and the mosque was completed in 1197.

          Iltutmush in 1230 and Alla-ud-din Khilji in 1315 made additions to the building. The main mosque comprises of an inner and outer courtyard,decorated with shafts and surrounded by piller. Most of these shafts are from the 27 Hindu temples, which were plundered to construct the mosque. It is, therefore, not surprising that the Muslim mosque has typical Hindu ornamentation. Close to the mosque is one of Delhi's most curious antiques, the Iron Pillar.
          
           </em></p>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>