<section>

    <div class="box">
        <h1>Add Place Form</h1>

        <div class=" Add Place Form">
            <form action="">
                <div class="form-group">
                    <label for="place">Add Place:</label>
                    <input type="text" #placeNameref="ngModel" name="placeName" [(ngModel)]="placeName" class="form-control" placeholder="Enter place" id="place">
                </div>
                <div class="form-group">
                    <label for="place">Add City:</label>
                    <input type="text" #cityNameref="ngModel" name="cityName" [(ngModel)]="cityName" class="form-control" placeholder="Enter city" id="city">
                </div>
                <div class="form-group">
                    <label for="place">Add State:</label>
                    <input type="text" #stateNameref="ngModel" name="stateName" [(ngModel)]="stateName" class="form-control" placeholder="Enter state" id="state">
                </div>
                <div class="form-group">
                    <label for="place">Add Description:</label>
                    <textarea type="message" #descref="ngModel" name="desc" [(ngModel)]="desc" class="form-control" placeholder="Description.." id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="place">Add 1 Image:</label><br>
                    <input type="file" name="banner " (change)="getFile($event)">
                </div>
                <!-- <div class="form-group">
                    <label for="place">Add 2 Image</label>
                    <input type="file" name="sliderimages" multiple (change)="getSlider($event)">
                </div>
                <p>sliderimages</p> -->
                <button (click)="addPlace()">submit</button>
            </form>
        </div>

    </div>
</section>