<p>booking works!</p>
<div id="main">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input type="text" class="search_input" [(ngModel)]="name" name="name" placeholder="Search...">

                <!-- <button class="search_icon" (click)="fetchPlaces()"><i class="fas fa-search" ></i></button> -->
                <button (click)="fetchData()" class="search_icon"><i class="fas fa-search" ></i></button>

                <div *ngFor="let p of filteredData">
                    {{p|json}}
                </div>
            </div>


        </div>
    </div>
    <!-- <span style="font-size:30px;cursor:pointer" (click)="CallopenNav()">&#9776; </span> -->
</div>
<!-- 
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Place</th>
            <th scope="col">No.Of Adults</th>
            <th scope="col">No.Of Children</th>
            <th scope="col">Message</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" *ngFor="let p of filteredData">1</th>
            <td>{{p.name}}</td>
            <td>{{p.email}}</td>
            <td>{{p.mobile}}</td>
            <td>{{p.place}}</td>
            <td>{{p.adult}}</td>
            <td>{{p.child}}</td>
            <td>{{p.message}}</td>
            <td>{{p.date}}</td>
            <td>{{p.datsu}}</td>
            <td>{{p.amount}}</td>
        </tr>


    </tbody>
</table> -->