<p>booking works!</p>


<table class="table">
    <!-- <input class="text" [(ngModel)]="bookd" name="bookd" type="date">
    <button click="fetchData()" class="">click</button> -->
    <thead class="thead-dark">
        <tr>
            <th scope="col">Booking Date</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Place</th>
            <th scope="col">No.Of Adults</th>
            <th scope="col">No.Of Children</th>
            <th scope="col">Message</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredformdata">

            <td>{{p.name}}</td>
            <td>{{p.email}}</td>
            <td>{{p.mobile}}</td>
            <td>{{p.place}}</td>
            <td>{{p.adult}}</td>
            <td>{{p.child}}</td>
            <td>{{p.message}}</td>
            <td>{{p.date}}</td>
            <td>{{p.datsu}}</td>
            <td>{{p.amount}}</td>
        </tr>


    </tbody>
</table>