<h1>BOOKING DETAILS</h1>

<table class="table">

    <thead>
        <tr>
            <th scope="col">Booking Date</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Place</th>
            <th scope="col">No.Of Adults</th>
            <th scope="col">No.Of Children</th>
            <th scope="col">Message</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Package1</th>
            <th scope="col">Package2</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <thead class="thead-light" *ngFor="let p of filteredformdata">
        <tr>
            <td>{{p.datet}}</td>
            <td>{{p.name}}</td>
            <td>{{p.email}}</td>
            <td>{{p.mobile}}</td>
            <td>{{p.place}}</td>
            <td>{{p.adult}}</td>
            <td>{{p.child}}</td>
            <td>{{p.message}}</td>
            <td>{{p.date}}</td>
            <td>{{p.datesu}}</td>
            <td>{{p.package1}}</td>
            <td>{{p.package2}}</td>
            <td>{{p.amount}}</td>
        </tr>


    </thead>


</table>
<p></p>
<button routerLink="/dashboard" type="button" class="btn btn-info">Okay</button>