<section>
    <div class="box">

        <h2>Welcome</h2>

        <p><em>Planning a trip today can be confusing and time consuming. A travel advisor not only arranges the various modes of transportation, but may also be able to save you money with early booking discounts, special fares, hotel deals and travel advisories. <br>
            <p></p>
            Instead of sifting through countless websites, guidebooks or post from your friends on social media, you deserve a hassle-free vacation planned by a professional, saving your valuable time.
        <br><p></p>
        Travel advisors have exclusive access to special travel fares and discounts, guaranteeing you’re getting the best value. You want real benefits and a travel advisor can provide that for you.</em></p>

    </div>
</section>