

.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
}
.navbar-light .navbar-brand{
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Source Sans Pro;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:active{
  color: #fff;
  font-size: 24px;
  transition: .5s;

}

navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.nav-link{
  font-weight: bold;
  font-size: 16px;
  font-family: Source Sans Pro;

}

.nav-link:hover, .nav-link:active{
  font-size: 18px;
  color: #fff;
  transition: .5s;
}

.navbar-light .navbar-nav .nav-link{
  color: #fff;
}