
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="container">

            <div id="demo" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/images/udaipur1.jpg" alt="Los Angeles" width="450" height="250">
                  
                </div>
                <div class="carousel-item">
                  <img src="../../assets/images/udaipur2.jpg" alt="Chicago" width="450" height="250">
                    
                </div>
                <div class="carousel-item">
                  <img src="../../assets/images/udaipur3.jpg" alt="New York" width="450" height="250">
                  
                </div>
           

              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>

          <p></p>

          <table>
            <tr>
              <th><b>Udaipur Package</b></th>
              <th><b>Price*</b></th>
              <th><b>Nights</b></th>
            </tr>
            <tr>
              <td>Rajasthan Riches: Holiness to Heritage & Wildlife</td>
              <td>Rs 21,350</td>
              <td>8 Nights</td>
            </tr>
            <tr>
              <td>Colourful Rajasthan</td>
              <td>Rs 23,000</td>
              <td>7 Nights</td>
            </tr>
            <tr>
              <td>3 Amazing Desert and Fort Cities of Rajasthan</td>
              <td>Rs 12,999</td>
              <td>4 Nights</td>
            </tr>
            <tr>
              <td>Alluring 5-Day Rajasthan Holiday</td>
              <td>Rs 13,999</td>
              <td>4 Nights</td>
            </tr>
          </table>
          
          
    
          



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>