<div class="container">

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/darjeeling.jpg" alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
          <p class="caption">The famous Tea Garden in <em><b>Darjeeling</b></em> , India.</p>
          
        </div>   
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/kedarnath.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
          <p class="caption"><em><b>Kedarnath Temple</b></em> - A Crazy Cocktail of Spirituality, in Uttarakhand.</p>
          
        </div>   
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/jaipur.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
         
          <p class="caption"><em><b>Jal Mahal</b></em> - The most splendid architectural palaces sitting in the centre of Man Singh Lake on the outskirts of Jaipur.</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/muss.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <p class="caption">“Rain in the Mountains: Notes from the Himalayas”, an anthology of semi-autobiographical stories of his life in the mountains of <em><b> Mussoorie</b></em>.</p>

        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>


<div class="container">

    <div class="description-container">

      <div class="inside">

     <div><li routerLink="/goaa" type="button" data-toggle="modal" data-target="#exampleModalLong">
      <img src="../../assets/images/ngoa.jpg" alt="" width="420px" height="260px"  class="img-responsive floating-image right"></li></div>
      

        <h3>Goa</h3>
        <p><em>Sandy beaches, warm sunsets, beautiful villages and an atmosphere filled with joy are some of the elements that make Goa a popular beach tourist destination in India. For the travellers planning a trip to this priceless destination of India anytime soon, the Goa Travel Guide will cover with all that one can do to make the trip a memorable one. </em></p>

        <p><b>Capital</b> Panaji <b>Location</b> Western Coast of India </p> 
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button> 
      </div>

      <div class="inside">
        <div><li routerLink="/ooty" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/ooty.jpg" alt="" height="260px" class="img-responsive floating-image left">
      </li></div>

        <h3>Ooty</h3>
        <p><em>One of the popular hill stations, Ooty is also known as "Queen of Hill Stations". Ooty also known as Ootakamund, is indeed a highly recommended holiday destination for family vacationers. Its striking natural settings enchant one and all. Refreshing waterfall, mesmerising views, serene lakes along with exciting sports present a perfect break from the tensions of day today lives. Ooty tour will offer you with all this and much more.</em></p>
        <p><b>State</b> Tamil Nadu <b>District</b>  Niligiris District </p> 
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button>     

      </div>

      <div class="inside">
        <div><li routerLink="/leh" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/leh.jpg" alt="" class="img-responsive floating-image right">
      </li></div>

        <h3> Ladakh</h3>
        <p><em>A cult among the wanderlusts or the ‘Mecca’ for the thrill seekers, Leh-Ladakh is the destination that can tempt anyone to ditch the rest of the world!  Be a part of an unforgettable travel story with us and relish our legacy to travel, explore and celebrate life. Seated high in the lap of the Indian Himalayas, a trip to this paradise is an experience of one of its own kind, and can satiate all your cravings for adrenaline rush.
        </em></p>
        <p><b>Capital</b> Leh, Kargil<b> District</b> 2</p> 
        
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button> 
      </div>

      <div class="inside">
        <div><li routerLink="/dallake" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/dallake.jpg" alt="" class="img-responsive floating-image left">
      </li></div>


        <h3>DalLake</h3>
        <p><em>One of the top places to visit in Srinagar is surely this lake which is known to have defined the town in one word- ‘beauty’! The Dal Lake is the most celebrated and important lake amongst all in Srinagar. It is home to carved wooden houseboats, vibrant shikaras and floating gardens. One gets to witness an absolutely splendid view here with lush green mountainscape in the backdrop and a crystal clear reflection of the sky falling upon the surface of the lake just to make it more pristine in every sense!</em></p>
        <p><b>Location</b> Srinagar</p>
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button>
      </div>

      <div class="inside">
        <div><li routerLink="/andaman" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/andaman.jpg" alt=""  class="img-responsive floating-image right">
      </li></div>


        <h3>Andaman</h3>
        <p><em>About 1370 kilometre east of mainland India, the archipelago that is Andaman Islands in the Bay of Bengal with Myanmar to the east and north, is an idyllic landscape of translucent waters, sun-dappled, white beaches, mangrove wilderness and coconut groves offering a cool shade to your hammock as it sways gently in the wind. 
          In addition to this, you can visit the bustling city of Port Blair to get a glimpse of the local lifestyle. Steeped in colonial history and boasting of striking architectural monuments, you can also browse the local markets and savour the traditional cuisine.</em></p>
        <p> <b>Location</b> Andaman & Nicobar Islands</p>
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button>
      </div>


      <div class="inside">
        <div><li routerLink="/udaipur" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/udaipur.jpg" alt="" class="img-responsive floating-image left">
      </li></div>


        <h3>Udaipur</h3>
        <p><em>Udaipur, also known as the City of Lakes, is the crown jewel of the state of Rajasthan. This 'Venice of the East' has an abundance of natural beauty, mesmerising temples and breathtaking architecture which makes it a must-visit destination in India.  A boat ride through the serene waters of Lake Pichola will be enough to prove to you why Udaipur is the pride of Rajasthan.</em></p>
        <p><b>Location</b> Rajasthan </p>
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button>
      </div>


      <div class="inside">
        <div><li routerLink="/flowers" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/flowers.jpg" alt="" class="img-responsive floating-image right">
      </li></div>


        <h3>Flower Valley</h3>
        <p><em>Valley of Flowers in Uttarakhand is India’s most mesmerizing flower valley, which is also a UNESCO world heritage site. The valley is flourishing in the middle of Bhyundar Valley, up in the western part of the Himalayas at an elevation of 3,658 mts above sea level. It is popular for its verdant valleys of endemic alpine flowers and the unbelievably mesmerizing scenic beauty.</em></p>
        <p><b>Location</b> Uttarakhand</p>
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button>
      </div>

      <div class="inside">
        <div><li routerLink="/kasol" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/kasol.jpg" alt="" class="img-responsive floating-image left">
      </li></div>


        <h3>Kasol</h3>
        <p><em>Kasol is a hamlet in the district Kullu of the Indian state of Himachal Pradesh. Delhi to Kasol is a 14-hour journey, which will begin when you’ll board the evening Volvo from Delhi and get ready to experience the joy this Kasol tour package has in store for you. After an overnight journey, you’ll reach Kasol.

          It is situated in Parvati Valley, on the banks of the Parvati River, on the way between Bhuntar and Manikaran.</em></p>
        <p><b>Location</b> Himachal Prasdesh</p>
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button>
      </div>

      <div class="inside">
        <div><li routerLink="/himalaya" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/himalaya.jpeg" alt="" class="img-responsive floating-image right">
      </li></div>


        <h3>Himalayas</h3>
        <p><em>Home to many of Earth’s highest peaks, the Himalayas offer adventure opportunities, picturesque sights and incredible tourism options. No wonder that the Himalayas is the origin place of the gushing rivers and also the preferred dwelling place of exotic species of flora and fauna. Thus, one can delight in white water river rafting, wildlife safaris and other amusing opportunities. For this reason, Himalaya trip packages witness huge demand.</em></p>
        <p><b>Location</b> Northern India</p>
        <button type="button" class="btn btn-outline-info">For more details, click on the picture.</button>
      </div>



    </div>
    
</div>


  