
.main{
    margin-left: 200px;
    
}

div.polaroid {
    width: 310px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }


  div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); 
    -webkit-transform: rotate(7deg); 
    transform: rotate(7deg);
  }
  
  div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); 
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  
img{
    padding: 10px;
    margin: 20px;
}

  .description-container {
      max-width: 1050px;
      margin: 40px auto 20px;
 
  }
.description-container .floating-image{
    max-width: 450px;
}

.description-container .floating-image.right{
    float: right;
    margin-left: 20px;
   
}

.description-container .floating-image.left{
    float: left;
    margin-right: 20px;
   
}