<div class="main">


<div class="polaroid rotate_right">
    <img src="../../assets/images/darjeeling.jpg" alt="Pulpit rock" width="290" height="210">
    <p class="caption">The famous Tea Garden in <em><b>Darjeeling</b></em> , India.</p>
  </div>
  
  <div class="polaroid rotate_left">
    <img src="../../assets/images/kedarnath.jpg" alt="Monterosso al Mare" width="290" height="205">
    <p class="caption"><em><b>Kedarnath Temple</b></em> - A Crazy Cocktail of Spirituality, in Uttarakhand.</p>
  </div>

  
<div class="polaroid rotate_right">
    <img src="../../assets/images/jaipur.jpg" alt="Pulpit rock" width="290" height="205">
    <p class="caption"><em><b>Jal Mahal</b></em> - The most splendid architectural palaces sitting in the centre of Man Singh Lake on the outskirts of Jaipur.</p>
  </div>
  
  <div class="polaroid rotate_left">
    <img src="../../assets/images/muss.jpg" alt="Monterosso al Mare" width="290" height="205">
    <p class="caption">“Rain in the Mountains: Notes from the Himalayas”, an anthology of semi-autobiographical stories of his life in the mountains of <em><b> Mussoorie</b></em>.</p>
  </div>

</div>


<div class="container">

    <div class="description-container">

     <div><li routerLink="/goaa" type="button" data-toggle="modal" data-target="#exampleModalLong">
      <img src="../../assets/images/ngoa.jpg" alt="" class="img-responsive floating-image right"></li></div>
      

        <h3>What is this?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus tempora sequi facere fugiat cum quae culpa quibusdam architecto, amet fuga perspiciatis id. Nostrum veritatis sed similique in pariatur veniam atque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, deleniti id accusantium modi, perferendis eos placeat sequi, laborum totam quisquam magni! Ducimus cupiditate consectetur, eum tempora ab deleniti deserunt a.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo minima, nobis accusamus ea illum asperiores laborum quam repudiandae! Similique ipsum atque accusamus quaerat earum velit at hic iste inventore dolores.</p>
        <p></p>   

        <div><li routerLink="/ooty" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/ooty.jpg" alt="" class="img-responsive floating-image left">
      </li></div>

        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>

        <div><li routerLink="/leh" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/leh.jpg" alt="" class="img-responsive floating-image right">
      </li></div>

        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>

        <div><li routerLink="/dallake" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/dallake.jpg" alt="" class="img-responsive floating-image left">
      </li></div>


        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>

        <div><li routerLink="/andaman" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/andaman.jpg" alt="" class="img-responsive floating-image right">
      </li></div>


        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>

        <div><li routerLink="/udaipur" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/udaipur.jpg" alt="" class="img-responsive floating-image left">
      </li></div>


        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>

        <div><li routerLink="/flowers" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/flowers.jpg" alt="" class="img-responsive floating-image right">
      </li></div>


        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>

        <div><li routerLink="/kasol" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/kasol.jpg" alt="" class="img-responsive floating-image left">
      </li></div>


        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>

        <div><li routerLink="/himalaya" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <img src="../../assets/images/himalaya.jpeg" alt="" class="img-responsive floating-image right">
      </li></div>


        <h3>Where does this come from?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id dolores enim mollitia libero alias autem unde officiis doloremque sapiente minima rem quasi, ullam animi dolore eos? Porro necessitatibus beatae rem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos, culpa accusantium rerum, incidunt nisi architecto at mollitia eaque consequuntur porro aut inventore, reiciendis blanditiis eligendi quod quam saepe libero?</p>





    </div>
    
</div>

  