<!-- <div class="products">
    <div class="item" *ngFor="let p of filteredPlaces">
         {{p|json}} 

         <p>PLACES: <br>{{p.places}} </p>
        <p>CITY: {{p.city}}</p>
        <p>HOTELS: {{p.hotels}}</p>
        <p>TOTAL TOUR PACKAGE AMOUNT: {{p.totalpackage}}</p>
        <button routerLink="/dashboard">ok</button>
    </div> -->
<!-- <app-search class="item" *ngFor="let p of filteredPlaces"></app-search> -->

<!-- </div> -->


<div class="card text-center" id="section">
    <div class="card-header" *ngFor="let p of filteredPlaces">
        <h2>{{p.city}}</h2>
    </div>

</div>
<div class="card text-center">
    <!-- <div class="card-header">
        <h2>PLACES</h2>
    </div> -->
    <div class="card-body">
        <h5 class="card-title">PLACES DEFINE YOU HAVE BEEN SEEN THERE</h5>
        <p class="card-text" *ngFor="let p of filteredPlaces">{{p.places}}</p>


    </div>
    <div class="card-body">
        <h5 class="card-title">HOTELS AND RESORTS</h5>
        <p class="card-text" *ngFor="let p of filteredPlaces">{{p.hotels}}</p>


    </div>
    <div class="card-body">
        <h5 class="card-title">TOTAL AMOUNT OF TOUR PACKAGE WITH FULL FACILITIES</h5>
        <p class="card-text" *ngFor="let p of filteredPlaces">{{p.totalpackage}}</p>


    </div>
</div>

<h5>IF YOU LIKE THIS PACKAGE PRESS OK</h5>
<P>GO TO BOOK NOW</P>
<button routerLink="/dashboard" type="button" class="btn btn-warning">OK</button>