<div class="section">

    <nav class="navbar navbar-dark bg-dark">

        <a class="navbar-brand" href="#">Travel Stars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li routerLink="/home" class="nav-link">Home <span class="sr-only">(current)</span></li>
                <!-- <li routerLink="/booking" class="nav-link" *ngFor="let p of filtereData">View Booking Details</li> -->
                <li class="nav-link">View User Details</li>
                <li class="nav-link" routerLink="/admin-dashboard/addplace">Add place</li>
                <li class="nav-link" routerLink="/admin-dashboard/addpackage">Add package</li>
                <li class="nav-link" routerLink="/admin-dashboard/listpackages">List package</li>
                <li class="nav-link" routerLink="/admin-dashboard/listplaces">List places</li>
                <li class="nav-link" (click)="logout()">LogOut</li>



            </ul>


        </div>

    </nav>
    <p></p>


    <router-outlet></router-outlet>


</div>